# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
FDS/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large datasets
DS/data/*.csv
DS/data/processed_creditcard.csv

# Ignore git-lfs files if needed
*.lfs

# Ignore system files
.DS_Store

# Ignore logs and other runtime files
logs/
*.log
*.out

# Ignore temporary files created by editors or OS
*.swp
*.swo
*.bak
*.tmp

# Ignore Jupyter Notebook outputs (optional)
notebooks/*.ipynb
